.movieCard{
    list-style: none;
    font-size:1rem;
    text-align:center; 
    color: #fff;
}

.movieImage {
    border-radius: 20px;
    background-color:beige;
}

.movieImage:hover {
    opacity: 0.3;
}



@media (max-width: 520px){
    .movieImage{
        width: 90%;
    }
}